@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

/* reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set background color and font family */
body {
  background-color: #ebd9b7;
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

/* style header */
header {
  height: 550px;
  background: url('https://github.com/user-attachments/assets/9c4ad21b-0a84-457c-aacd-3aaa2d3ef3b3') no-repeat center center;
  background-size: cover;
  margin: 0;
}

.center {
  height: 94.6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header nav bar */
.header-content {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  padding-bottom: 0px;
  background-color: #f2fa52;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border: 3px solid #73AD21;
}

.header-content a:hover {
  color: #733b0e;
}

#fanlist li {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 50px;
  color: #000000;
  filter: drop-shadow(0 0 0.75rem green);
}

.fan {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/* main content sections */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 0px;
}

main h2 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
}

main p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

/* Video and SoundCloud embeds */
.video-container, .soundcloud-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-container iframe, .soundcloud-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* section spacing */
main section {
  margin-bottom: 40px;
}

/* responsiveness */
@media (max-width: 768px) {
  #fanlist li {
    display: block;
    padding: 10px 0;
  }

  .video-container, .soundcloud-container {
    padding-bottom: 56.25%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 30px;
  }

  .video-container, .soundcloud-container {
    padding-bottom: 56.25%;
  }

  header {
    height: 250px;
  }
}
